.wrapperNouvelleSorties{
    margin-top: 1em;
    width:96vw;
    margin-left: 1vw;
    padding: 1vw;
    background-color: #126A5C;
    border-radius: 20px;
}



.wrapperNouvelleSorties ul{
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    color: white;
}

.wrapperNouvelleSorties li{

    background-color: red;
    border-radius: 20px;
    background-color: #1C1D37;
}
.wrapperNouvelleSorties li:hover{
    transform: scale(1.03);
}
.wrapperNouvelleSorties img{
    width: 100%;
    max-height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wrapperNouvelleSorties li p, .wrapperNouvelleSorties li h2{
    padding-left: 8px;
}

li:nth-child(9){
    grid-column: 1/21;
    grid-row: 1/11;
}
li:nth-child(2){
    grid-column: 21 / 37;
    grid-row: 1/11;
}
li:nth-child(3){
    grid-column: 37/50;
    grid-row: 1/11;
}
li:nth-child(4){
    grid-column: 50/65;
    grid-row: 1/11;
}
li:nth-child(1){
    background-color: #00613E;
    grid-column: 16 / 47;
    grid-row: 11/14;
    font-size: 30px;
    font-weight:700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.768);
}
li:nth-child(6){
    grid-column: 1 / 15;
    grid-row: 11 / 26;
}
li:nth-child(7){
    grid-column: 15/32;
    grid-row: 14/26;
}
li:nth-child(8){
    grid-column: 32/48;
    grid-row: 14/26;
}
li:nth-child(5){
    grid-column: 48/65;
    grid-row: 11/26;
}
